node_modules
npm-debug.log
.next
.git
.gitignore
README.md
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
*.log
coverage
.nyc_output
.vscode
.idea
**/.git
**/.gitignore
**/node_modules
**/README.md
**/Dockerfile
**/docker-compose.yml
**/.dockerignore
!next.config.docker.ts